In [29]:
import pandas 
# df = 
pandas.Series([1,2,3,4], ["행1","행2","행3","행4"]).loc[ "행2" : "행4" ].drop("행4")
# .drop("행3")
# del df["행3"]
# df

행2    2
행3    3
dtype: int64

In [2]:
import pandas as pd
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["행1","행2","행3"]
col = ["열1","열2","열3"]
df1 = pd.DataFrame(arr, idx, col)
df1

    열1  열2  열3
행1   1   2   3
행2   4   5   6
행3   7   8   9

In [3]:
df2 = pd.DataFrame(arr[1:], idx[1:], col)
df2

    열1  열2  열3
행2   4   5   6
행3   7   8   9

In [35]:
df1 + df2

      열1    열2    열3
행1   NaN   NaN   NaN
행2   8.0  10.0  12.0
행3  14.0  16.0  18.0

In [38]:
s = pd.Series(arr[:1], idx[:1])
s

행1    [1, 2, 3]
dtype: object

In [39]:
df1 + s

     열1   열2   열3   행1
행1  NaN  NaN  NaN  NaN
행2  NaN  NaN  NaN  NaN
행3  NaN  NaN  NaN  NaN

In [41]:
df1

    열1  열2  열3
행1   1   2   3
행2   4   5   6
행3   7   8   9

In [43]:
df1.loc["행1","열1"] + s.loc["행1"]

array([2, 3, 4])

In [45]:
df3 = pd.DataFrame(arr[:1], idx[:1], col)
df3

    열1  열2  열3
행1   1   2   3

In [46]:
df1 + df3

     열1   열2   열3
행1  2.0  4.0  6.0
행2  NaN  NaN  NaN
행3  NaN  NaN  NaN

In [13]:
arr

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
# arr1 = [
#     [2,3],
#     [5,6],
#     [8,9],
# ]
# arr1
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["행1","행2","행3"]
col = ["열1","열2","열3"]
# arr[:][:2]
for list in arr:
    list.pop(1)
col.pop(1)
df4 = pd.DataFrame(arr, idx, col)
df4

    열1  열3
행1   1   3
행2   4   6
행3   7   9