In [3]:
# Q3. 아래의 1차원 배열의 값의 평균값을 구하시오.
arr1 = [80,76,63,83,99,87,100,42,68,55]
arr1
# 전체의 값을 더하고 전체의 갯를 나누면 평균값
전체합 = sum(arr1)
전체갯수 = len(arr1)
print(전체합, 전체갯수, 전체합 / 전체갯수)

753 10 75.3

In [4]:
def 평균값(list):
    return sum(list) / len(list)

평균값(arr1)

75.3

In [ ]:
# Q4. 아래의 2차원 배열의 표에서 가장 점수가 높은 학생을 구하시오.
arr2 = [
    ["홍길동", 80],
    ["류관순", 76],
    ["강감찬", 99],
    ["이성계", 87],
    ["이황", 68]
]
arr2
비교 = arr2[0]
print(비교)
for i in range(1,len(arr2)):
    # print(i, arr2[i])
    if 비교[1] < arr2[i][1]:  # 뒤쪽이 크면 참
        비교 = arr2[i]

print(비교[0])

['홍길동', 80]
강감찬

In [16]:
# Q5. 아래의 1차원 배열를 이용하여 버블 방식으로 정렬하시오.
arr3 = [80,76,63,83,99,87,100,42,68,55]
for i in range(len(arr3)): # 전체 회전 0, 1, 2, ... 9
    for j in range(len(arr3) - 1 - i):
        if arr3[j] > arr3[j + 1]: 
            잠시담아둘게요 = arr3[j]
            arr3[j] = arr3[j + 1]
            arr3[j + 1] = 잠시담아둘게요
# arr3.sort(reverse=True)
print(arr3)

[42, 55, 63, 68, 76, 80, 83, 87, 99, 100]

In [ ]:
# Q6. 옆사람과 서로 다른 문제를 만들고 풀어 보기 (시간: 11:50 ~ 12:00 각자 문제 만들고 12:00 ~ 13:20 풀기)

In [ ]:
# 1. 아래의 2차원 배열의 표에서 평균 값을 구한 후 평균 값 이상인 학생만 구하시오.
arr = [
    ["홍길동", 80],
    ["류관순", 76],
    ["강감찬", 99],
    ["이성계", 87],
    ["이황", 68]
]

In [ ]:
# 2. myString을 myArray리스트에 각각 잘라서 넣으시오
myString = "감자칩/새우깡/도리토스/건전지/양말"

In [ ]:
# 3. 다음 소스 코드를 완성하여 리스트 a에 들어있는 문자열 중에서 길이가 7인 것들만 리스트 형태로 출력되게 만드세요(리스트 표현식 사용).
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [                           ]
print(b)

In [ ]:
# 4. 아래 배열에서 홀수와 짝수를 따로 반환해 각 배열을 오름차순 정렬하여 출력한 뒤, 각 배열의 평균값을 구하시오.
arr = [18,44,87,35,15,24,79,12,55,47,47,98,5]

In [ ]:
# 5. 아래의 2차원 배열의 표에서 점수 평균을 구하시고, 가장 점수가 높은 학생과 가장 점수가 낮은 학생을 구하시오.
arr = [
    ["A", 79],
    ["B", 93],
    ["C", 75],
    ["D", 89],
    ["E", 81],
]

In [ ]:
# 6. 아래 친구들의 성적 배열을 보고 고득점 순으로 배열을 정렬하세요.
성적 = [["철수",90], ["영희", 25], ["민지",67], ["영철",45], ["민수",80]]

In [ ]:
# 7. 1~10 까지의 수를 홀수와 짝수로 구분 하시오 
arr = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# 8. 아래 배열을 사용하여 구구단을 출력하시오.
arr = [1,4,3,2,7,6,8,5,9]