In [3]:
import pandas as pd
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["1행","2행","3행"]
col = ["첫번째","두번째","세번째"]
df = pd.DataFrame(arr,index=idx,columns=col)
df

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [8]:
df[ ["첫번째","두번째"] ]

    첫번째  두번째
1행    1    2
2행    4    5
3행    7    8

In [10]:
df.loc["1행"]

첫번째    1
두번째    2
세번째    3
Name: 1행, dtype: int64

In [11]:
type(df.loc["1행"])

pandas.core.series.Series