## dictionary 자료형
특징
+ key와 value로 한쌍으로 이루어졌다.
+ associative array 또는 hash 라고도 한다.

In [1]:
a = {'key': 'value'}
a

{'key': 'value'}

In [2]:
a['key']

'value'

In [3]:
a.get('key')

'value'

In [6]:
a['key'] = 100
a.get('key')

100

In [10]:
a = {'key': 1, 'key': 2}
a

{'key': 2}

In [9]:
del a['key']
a

{}

In [11]:
a.clear()
a

{}

In [17]:
a = {
    "번호": 1,
    "이름": "홍길동",
    "나이": 19,
    "직업": "도둑"
}
a

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': '도둑'}

In [18]:
a["직업"] = ["도둑","의적"]
a

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': ['도둑', '의적']}

In [15]:
type(a['직업'])

list

In [16]:
a['직업'][0] = "나쁜놈"
a

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': ['나쁜놈', '의적']}

In [20]:
b = a['직업']
b[0] = "나쁜놈"
a['직업'] = b
a

{'번호': 1, '이름': '홍길동', '나이': 19, '직업': ['나쁜놈', '의적']}

## Q1. 리스트에 학생 정보가 들어 있는 자료형을 선택하여 추가하려고 한다.
## 예 {'no': 1, 'name': '홍길동', ...} keys = ['no', 'name', 'age']
## 3명의 학생 정보를 담으려면 어떻게 하여야 할까요?