# Q1. 1차원 배열 `[1,2,3,4,5,]`에서 각각 10을 곱하여 2차원 배열로 만드시오.

In [13]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

# Q2. 2차원 배열에서 각 열에 대한 목록을 출력하시오.

In [14]:
arr = [
    [1, "홍길동", 17],
    [2, "류관순", 16],
    [3, "강감찬", 78],
    [4, "이성계", 42],
    [5, "이황", 57]
]
arr

[[1, '홍길동', 17], [2, '류관순', 16], [3, '강감찬', 78], [4, '이성계', 42], [5, '이황', 57]]