In [3]:
import pandas as pd
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["1행","2행","3행"]
col = ["첫번째","두번째","세번째"]
df = pd.DataFrame(arr,index=idx,columns=col)
df

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [8]:
df[ ["첫번째","두번째"] ]

    첫번째  두번째
1행    1    2
2행    4    5
3행    7    8

In [10]:
df.loc["1행"]

첫번째    1
두번째    2
세번째    3
Name: 1행, dtype: int64

In [6]:
df.loc["1행"][df.loc["1행"] < 2]

첫번째    1
Name: 1행, dtype: int64

In [ ]:
df.loc["2행"][1] = 10
df

In [13]:
df.loc["2행"]

첫번째    4
두번째    5
세번째    6
Name: 2행, dtype: int64

In [14]:
b = df.loc["2행"]
b[1] = 10
df.loc["2행"] = b
df.loc["2행"]

C:\Users\hi\AppData\Local\Temp\ipykernel_16200\2478522171.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  b[1] = 10

첫번째     4
두번째    10
세번째     6
Name: 2행, dtype: int64

In [15]:
df

    첫번째  두번째  세번째
1행    1    2    3
2행    4   10    6
3행    7    8    9

In [ ]:
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["1행","2행","3행"]
col = ["첫번째","두번째","세번째"]
df = pd.DataFrame(arr,index=idx,columns=col)

In [ ]:
arr = [
    {"첫번째": 1, "두번째": 2, "세번째": 3},
    {"첫번째": 4, "두번째": 5, "세번째": 6},
    {"첫번째": 7, "두번째": 8, "세번째": 9}
]
idx = ["1행","2행","3행"]
pd.DataFrame(arr, index=idx)

In [ ]:
arr = {
    "첫번째": [1,4,7],
    "두번째": [2,5,8],
    "세번째": [3,6,9]
}
idx = ["1행","2행","3행"]
pd.DataFrame(arr, index=idx)

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [23]:
import numpy as np
arr = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
pd.DataFrame(arr, index=idx, columns=col)

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [ ]:
import pandas as pd
df = pd.read_csv("./data/q.csv", index_col=0)
df

       dan  num
row1     2    9
row2     2    8
row3     2    7
row4     2    6
row5     2    5
row6     2    4
row7     2    3
row8     2    2
row9     2    1
row10    4    9
row11    4    8
row12    4    7
row13    4    6
row14    4    5
row15    4    4
row16    4    3
row17    4    2
row18    4    1

In [ ]:
idx = df['Unnamed: 0']
idx

In [44]:
df.index = idx
idx

0      row1
1      row2
2      row3
3      row4
4      row5
5      row6
6      row7
7      row8
8      row9
9     row10
10    row11
11    row12
12    row13
13    row14
14    row15
15    row16
16    row17
17    row18
Name: Unnamed: 0, dtype: object

In [45]:
# df = df.reset_index(drop=True).drop(columns=['Unnamed: 0'])
df

            dan  num
Unnamed: 0
row1          2    9
row2          2    8
row3          2    7
row4          2    6
row5          2    5
row6          2    4
row7          2    3
row8          2    2
row9          2    1
row10         4    9
row11         4    8
row12         4    7
row13         4    6
row14         4    5
row15         4    4
row16         4    3
row17         4    2
row18         4    1

In [4]:
import pandas as pd
df = pd.read_excel("./data/q3.xlsx", sheet_name="q2", engine='openpyxl', index_col=0)
# df = pd.read_excel("q3.xlsx", sheet_name="q2")
df

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,4417954,9911088,4816522,5094566,9668465,4701723,4966742,242623,114799,127824,2.19,1568331
1,2020,종로구,75003,158996,76876,82120,149384,72635,76749,9612,4241,5371,1.99,28507
2,2020,중구,63686,134635,65776,68859,125240,61222,64018,9395,4554,4841,1.97,24495
3,2020,용산구,113093,244645,118835,125810,230040,110722,119318,14605,8113,6492,2.03,40247
4,2020,성동구,135870,300505,146424,154081,293556,143387,150169,6949,3037,3912,2.16,45603
5,2020,광진구,167427,360109,173000,187109,346682,167310,179372,13427,5690,7737,2.07,50560
6,2020,동대문구,167598,357014,175322,181692,342837,169769,173068,14177,5553,8624,2.05,61796
7,2020,중랑구,185920,399562,197118,202444,394702,195165,199537,4860,1953,2907,2.12,69447
8,2020,성북구,195396,447056,214658,232398,437153,210810,226343,9903,3848,6055,2.24,73770
9,2020,강북구,145896,311569,151466,160103,308055,150143,157912,3514,1323,2191,2.11,63422
10,2020,도봉구,139114,327361,159420,167941,325257,158620,166637,2104,800,1304,2.34,62059
11,2020,노원구,218270,527032,254188,272844,523037,252383,270654,3995,1805,2190,2.40,85489
12,2020,은평구,213914,484043,231998,252045,479835,230279,249556,4208,1719,2489,2.24,85187
13,2020,서대문구,144838,322952,153152,169800,312173,149360,162813,10779,3792,6987,2.16,54204
14,2020,마포구,178482,381858,178977,202881,371890,175150,196740,9968,3827,6141,2.08,54331
15,2020,양천구,180633,457781,224379,233402,454251,222824,231427,3530,1555,1975,2.51,65670
16,2020,강서구,266982,585901,282686,303215,580185,280034,300151,5716,2652,3064,2.17,88984
17,2020,구로구,180531,432488,215424,217064,404408,199673,204735,28080,15751,12329,2.24,70198
18,2020,금천구,114715,247835,126141,121694,231733,117226,114507,16102,8915,7187,2.02,39842
19,2020,영등포구,184714,407367,202969,204398,379480,187647,191833,27887,15322,12565,2.05,61688
20,2020,동작구,184229,401572,193718,207854,391220,189152,202068,10352,4566,5786,2.12,65190
21,2020,관악구,274811,509803,255211,254592,495060,248339,246721,14743,6872,7871,1.80,78875
22,2020,서초구,173502,429025,205282,223743,425126,203359,221767,3899,1923,1976,2.45,60169
23,2020,강남구,234872,544055,260378,283677,539231,257999,281232,4824,2379,2445,2.30,75096
24,2020,송파구,281959,673926,325080,348846,667960,322299,345661,5966,2781,3185,2.37,93483
25,2020,강동구,196499,463998,228044,235954,459970,226216,233754,4028,1828,2200,2.34,70019