In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [ ]:
a = [1,2,3,4]
i = ["1","2","3","4"]
b = pd.Series(data=a,index=i)
print(b)
print(b.iloc[3], b.loc["3"])

1    1
2    2
3    3
4    4
dtype: int64
4 3

In [15]:
b[2]

C:\Users\hi\AppData\Local\Temp\ipykernel_14848\2083252473.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  b[2]

np.int64(3)

In [21]:
print(b)
c = b[ ["1","3","2"] ]
print(c)

1    1
2    2
3    3
4    4
dtype: int64
1    1
3    3
2    2
dtype: int64

In [23]:
import numpy as np
d = np.array(a)
d * 10

array([10, 20, 30, 40])

In [28]:
b[b > 3]

4    4
dtype: int64

In [30]:
b.index
b.values

array([1, 2, 3, 4])

In [39]:
b.index = [5,'4',3,True]
b.ndim
b.shape
b["2"] = np.nan

In [43]:
b[ b.notnull() ]

5       1.0
4       2.0
3       3.0
True    4.0
dtype: float64

In [49]:
b["4":True]

4       2.0
3       3.0
True    4.0
dtype: float64

In [52]:
pd.Series([3.0, 5.0, 7.0, 9.0, 11.0])

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float64

In [53]:
pd.Series(["가","나","다","라","마"])

0    가
1    나
2    다
3    라
4    마
dtype: object

In [55]:
sample = pd.Series([10,20,30,40,50],["가","나","다","라","마"])
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [56]:
sample[["나","라"]]

나    20
라    40
dtype: int64