In [5]:
from requests import get
from bs4 import BeautifulSoup as bs
import pandas as pd

In [ ]:
# df = pd.read_csv("./data/data1.csv", encoding="utf-8", index_col="관리번호").drop("연번", axis=1)
# df.shape

(506, 5)

In [ ]:
# res = get("http://127.0.0.1:5500/html/page3.html")
# list = []
# if res.status_code == 200:
#     data = bs(res.text, "html.parser")
#     # print(data.p)
#     # print(data.find("p"))
#     # print(data.find_all("p"))
#     # print(data.select_one("p"))
#     # print(data.select("p"))
#     # print(data.select("p")[2])
#     # print(data.select("p")[2].text)
#     for r in data.select("p"):
#         # print(r.text)
#         list.append(r.text)
# print(list)

['In this example, we have created a header, three equal columns and a footer. On smaller screens, the columns will stack on top of each other.', 'Resize the browser window to see the responsive effect.', 'Note: The Grid Layout Module is not supported in Internet Explorer or Edge 15 eand earlier versions.', 'Footer']

In [ ]:
res = get("http://127.0.0.1:5500/html/page3.html")
list = []
if res.status_code == 200:
    data = bs(res.text, "html.parser")
    for r in data.select("p"):
        list.append(r.text)
print(list)

['In this example, we have created a header, three equal columns and a footer. On smaller screens, the columns will stack on top of each other.', 'Resize the browser window to see the responsive effect.', 'Note: The Grid Layout Module is not supported in Internet Explorer or Edge 15 eand earlier versions.', 'Footer']

In [2]:
def 데이터가져오기(url, callback):
    res = get(url)
    if res.status_code == 200:
        return callback(bs(res.text, "html.parser"))
    return ""

In [30]:
def 데이터추출(data):
    list = []
    for r in data.select("p"):
        list.append(r.text)
    return list

In [36]:
url = "http://127.0.0.1:5500/html/page3.html"
# data = 데이터가져오기(url)
# list = 데이터추출(data)
# list = 데이터추출(데이터가져오기(url))
list = 데이터가져오기(url, 데이터추출)
print(list)

['In this example, we have created a header, three equal columns and a footer. On smaller screens, the columns will stack on top of each other.', 'Resize the browser window to see the responsive effect.', 'Note: The Grid Layout Module is not supported in Internet Explorer or Edge 15 eand earlier versions.', 'Footer']

In [15]:
url = "http://127.0.0.1:5500/html/page3.html"
def 데이터추출2(data):
    # list = data.select("div.grid-container > div.middle")
    # list = data.select("div.middle")
    # list = data.select(".middle")
    list = data.select("[style*=bbb]")
    print(list[0].text, len(list))

데이터가져오기(url, 데이터추출2)

Column2 1

In [51]:
html = '''
<table class="tbl_home">
    <caption>인기 검색 종목표<span>종목명에 대한 현재가,전일대비로 구분되어 있습니다.</span></caption>
    <colgroup>
    <col>
    <col width="60">
    <col width="65">
    </colgroup>
    <thead>
    <tr>
    <th scope="col">구분</th>
    <th scope="col">현재가</th>
    <th scope="col">전일대비</th>
    </tr>
    </thead>
    <tbody>

    <tr class="up"><th scope="row"><em>1.</em><a href="/item/main.naver?code=005930" onclick="clickcr(this, &quot;boa.list&quot;, &quot;005930&quot;, &quot;1&quot;, event);">삼성전자</a></th><td>53,900</td><td><em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02"> 800 </span></td></tr>

    <tr class="up"><th scope="row"><em>2.</em><a href="/item/main.naver?code=000660" onclick="clickcr(this, &quot;boa.list&quot;, &quot;000660&quot;, &quot;2&quot;, event);">SK하이닉스</a></th><td>175,000</td><td><em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02"> 7,000 </span></td></tr>

    <tr class="down"><th scope="row"><em>3.</em><a href="/item/main.naver?code=035720" onclick="clickcr(this, &quot;boa.list&quot;, &quot;035720&quot;, &quot;3&quot;, event);">카카오</a></th><td>44,050</td><td><em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01"> 2,550 </span></td></tr>

    <tr class="down"><th scope="row"><em>4.</em><a href="/item/main.naver?code=105560" onclick="clickcr(this, &quot;boa.list&quot;, &quot;105560&quot;, &quot;4&quot;, event);">KB금융</a></th><td>86,900</td><td><em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01"> 8,500 </span></td></tr>

    <tr class="up"><th scope="row"><em>5.</em><a href="/item/main.naver?code=010130" onclick="clickcr(this, &quot;boa.list&quot;, &quot;010130&quot;, &quot;5&quot;, event);">고려아연</a></th><td>1,813,000</td><td><em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02"> 142,000 </span></td></tr>

    </tbody>
</table>
'''
# print(html)

def 컴마삭제(data):
    return int(data.replace(",",""))
# print(컴마삭제("1,200"))

data = bs(html, 'html.parser')
trs = data.select("table.tbl_home > tbody > tr")
arr = []
idx = []
for tr in trs:
    idx.append(tr.select_one("th").text)

    arr1 = []
    for td in tr.select("td"):
        if td.text.count(" ") > 0:
            arr1.append( 컴마삭제(td.text[td.text.index(" "):].strip()) )
        else :
            arr1.append( 컴마삭제(td.text) )
    arr.append(arr1)
# print(idx)
# print(arr)
pd.DataFrame(arr, index=idx)

                0       1
1.삼성전자      53900     800
2.SK하이닉스   175000    7000
3.카카오       44050    2550
4.KB금융      86900    8500
5.고려아연    1813000  142000

In [71]:
res = get("https://finance.naver.com/")
def 컴마삭제(data):
    return int(data.replace(",",""))

data = bs(res.text, 'html.parser')
trs = data.select("div.aside_area.aside_popular > table.tbl_home > tbody > tr")
# print(trs)
arr = []
idx = []
for tr in trs:
    idx.append(tr.select_one("th").text)

    arr1 = []
    for td in tr.select("td"):
        arr1.append( 컴마삭제(td.text.replace("\n","").replace("\t","").replace("상승","").replace("하락","")) )
    arr.append(arr1)
# print(idx)
# print(arr)
pd.DataFrame(arr, index=idx)

                0       1
1.삼성전자      54000     900
2.고려아연    1826000  155000
3.SK하이닉스   174200    6200
4.KB금융      87100    8300
5.카카오       44550    2050